<h2>See committees in the: </h2>

<button {{action 'houseCommittees'}} class="btn btn-primary btn-lg">House</button>

<button {{action 'senateCommittees'}} class="btn btn-primary btn-lg">Senate</button>
